<!DOCTYPE html>
<html>
    <head>
        <title>参考にしたページ丸写し</title>
        
    </head>
    <body>
        <h1>サンプル <%= name%></h1>
        <form action = "/logout?_method=DELETE" method = "POST">
            <button type = "submit">ログアウト</button>
        </form>
    </body>
</html>